/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  background-image: url("../assets/BG.png");
  display: flex;
  justify-content: center;
  width: 100%; }
  body #root {
    display: flex;
    justify-content: center;
    width: 100%; }
    body #root #whole-page {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      width: 100%; }
      body #root #whole-page #main-title {
        color: gray;
        font-size: 500%; }
      body #root #whole-page #full-board {
        display: flex;
        justify-content: space-around;
        width: 98%; }
        body #root #whole-page #full-board #progress-column {
          border-left: 3px groove white;
          border-right: 3px groove white; }
        body #root #whole-page #full-board #queue-column, body #root #whole-page #full-board #progress-column, body #root #whole-page #full-board #completed-column {
          display: flex;
          flex-wrap: wrap;
          justify-content: space-around;
          width: 32%; }
          body #root #whole-page #full-board #queue-column .each-card, body #root #whole-page #full-board #progress-column .each-card, body #root #whole-page #full-board #completed-column .each-card {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            margin: 1px;
            opacity: 0.65;
            width: 100px;
            height: 150px; }
            body #root #whole-page #full-board #queue-column .each-card h1, body #root #whole-page #full-board #queue-column .each-card h4, body #root #whole-page #full-board #queue-column .each-card p, body #root #whole-page #full-board #queue-column .each-card select, body #root #whole-page #full-board #queue-column .each-card input, body #root #whole-page #full-board #progress-column .each-card h1, body #root #whole-page #full-board #progress-column .each-card h4, body #root #whole-page #full-board #progress-column .each-card p, body #root #whole-page #full-board #progress-column .each-card select, body #root #whole-page #full-board #progress-column .each-card input, body #root #whole-page #full-board #completed-column .each-card h1, body #root #whole-page #full-board #completed-column .each-card h4, body #root #whole-page #full-board #completed-column .each-card p, body #root #whole-page #full-board #completed-column .each-card select, body #root #whole-page #full-board #completed-column .each-card input {
              margin: 2%;
              text-align: center;
              width: 95%; }
            body #root #whole-page #full-board #queue-column .each-card h1, body #root #whole-page #full-board #progress-column .each-card h1, body #root #whole-page #full-board #completed-column .each-card h1 {
              margin-top: 5%; }
      body #root #whole-page #newCardForm {
        background-color: gray;
        bottom: 0;
        display: flex;
        justify-content: space-around;
        position: fixed;
        width: 100%; }
        body #root #whole-page #newCardForm .cardInputs {
          margin: 2% 0; }
