body {
  background-image: url('../assets/BG.png');
  display: flex;
  justify-content: center;
  width: 100%;

  #root {
    display: flex;
    justify-content: center;
    width: 100%;

    #whole-page {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      width: 100%;

      .login-component {
        display: flex;
        flex-direction: column;
        position: fixed;
        right: 0;
        width: 15%;

        p {
          color: white;
        }
      }

      #main-title {
        color: gray;
        font-size: 500%;
      }

      #full-board {
        display: flex;
        justify-content: space-around;
        width: 98%;

        #progress-column {
          border-left: 3px groove white;
          border-right: 3px groove white;
        }

        #queue-column, #progress-column, #completed-column {
          display: flex;
          flex-wrap: wrap;
          justify-content: space-around;
          width: 32%;

          .each-card, .editCardForm {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            margin: 1px;
            opacity: 0.65;
            width: 100px;
            height: 150px;

              h1, h4, p, select, input {
                margin: 2%;
                text-align: center;
                width: 95%;
              }

              h1 {
                margin-top: 5%;
              }


            }
          }
        }

      #newCardForm {
        background-color: gray;
        bottom: 0;
        display: flex;
        justify-content: space-around;
        position: fixed;
        width: 100%;

        .cardInputs {
          margin: 2% 0;
        }


      }
    }
  }
}


